* {
    margin: 0;
    padding: 0;
  }
  .clearfix {
    clear: both;
  }
  .header{
    width: 100%;
    text-align: center;
    height:50px;
  }

.front {
    float: left;
    height: 54mm;
    width: 86mm;
    border: 2px solid #08622E;
    border-radius: 10px;
    background:#fff;
    margin-left: 30px;
    overflow: hidden;
    
  }

  .vertical-text {
    background:  red;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    filter: flipH() flipV();
    margin: 0 auto;
  }